# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

openshift/video-encoder
openshift/video-encoder.pub
src/main/resources/application.properties
src/main/resources/application.local.properties
src/main/resources/application.oc.properties

project.template.yaml

openshift/deployment/
openshift/pki/
openshift/s2i-image/lib/
openshift/templates/
src/main/docker/lib/
src/main/docker/video-encoder-1.0-SNAPSHOT-runner.jar
